@page "/DeleteInvoice/{id:int}"
@inject IInvoiceService InvoiceService
@inject NavigationManager NavigationManager

    <style>
        p {
            font-size: 25px;
            font-weight: bold;
            text-transform: capitalize;
        }

        label {
            font-weight: bold;
        }
    </style>
    <p style="color:red; text-align:center">¿Seguro que quieres eliminar esta factura?</p>

    <EditForm Model="@invoice">
        <fieldset disabled="disabled">
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">ID De Reserva</label>
                        <input type="text" class="form-control" @bind-value="@invoice.BookingId" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Monto A Pagar</label>
                        <input type="text" class="form-control" @bind-value="@invoice.Amount" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Monto Pagado</label>
                        <input type="text" class="form-control" @bind-value="@invoice.AmountPaid" />
                    </div>
                </div>
            </div>
        </fieldset>
        <div colspan="2" style="text-align:center;">
            <button class="btn btn-primary mb-4" @onclick="DELETEINVOICE">Guardar</button>
            <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
        </div>
    </EditForm>
    @code {
        [Parameter]
        public int id { get; set; }

        private Invoice invoice = new Invoice();

        protected override async Task OnInitializedAsync()
        {
            invoice = await InvoiceService.GetInvoiceDetails(id);
        }

        protected async Task DELETEINVOICE()
        {
            await InvoiceService.DeleteInvoice(id);
            NavigationManager.NavigateTo("/ShowInvoice");
        }

        protected void Cancel()
        {
            NavigationManager.NavigateTo("/ShowInvoice");
        }
    }
