@page "/DetailsInvoice/{id:int}"
@inject IInvoiceService InvoiceService
@inject IClientService ClientService
@inject IBookingService BookingService

<style>
    b {
        font-size: 15px;
    }

    h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
</style>

<h3>Detalles de Factura</h3>

<div class="card-deck shadow p-3 mb-5 bg-white rounded" style="width: 18rem; margin:auto;display: inline-block;">
    <div class="card">
        <img class="card-img-top" src="@client.CedulaImage" alt="Card image cap" width="100" height="175px">
        <div class="card-body">
            <h4 class="card-title"><b>@client.Name @client.LastName</b></h4>
            <h4 class="card-title"><b>ID De Reserva:&nbsp;</b>@booking.BookingId</h4>
            <h4 class="card-title"><b>Monto A Pagar:&nbsp;</b>$@invoice.Amount</h4>
            <h4 class="card-title"><b>Monto Pagado:&nbsp;</b>$@invoice.AmountPaid</h4>
        </div>
        @*<div class="card-footer">
                <small class="text-muted">Some Extra Information</small>
            </div>*@
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private Client client = new Client();
    private Invoice invoice = new Invoice();
    private Booking booking = new Booking();

    protected override async Task OnInitializedAsync()
    {
        invoice = await InvoiceService.GetInvoiceDetails(id);
        booking = await BookingService.GetBookingDetails(invoice.BookingId);
        client = await ClientService.GetClientDetails(booking.ClientId);
    }
}
