@page "/EditInvoice/{id:int}"
@inject IInvoiceService InvoiceService
@inject NavigationManager NavigationManager

<style>
    label {
        font-weight: bold;
    }
</style>

<EditForm Model="@invoice">
    <h2>Editar Reserva</h2>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">ID De Reserva</label>
                <input type="text" class="form-control" @bind-value="@invoice.BookingId" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Monto A Pagar</label>
                <input type="text" class="form-control" @bind-value="@invoice.Amount" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Monto Pagado</label>
                <input type="text" class="form-control" @bind-value="@invoice.AmountPaid" />
            </div>
        </div>
    </div>
    <div colspan="2" style="text-align:center;">
        <button class="btn btn-primary mb-4" @onclick="SAVECHANGES">Guardar</button>
        <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Invoice invoice = new Invoice();

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            invoice = await InvoiceService.GetInvoiceDetails(id);
        }
    }
    protected async Task SAVECHANGES()
    {
        await InvoiceService.SaveInvoice(invoice);
        NavigationManager.NavigateTo("/ShowInvoice");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/ShowBookings");
    }
}
