@inject NavigationManager NavigationManager
@page "/LogOut"

<button class="btn btn-danger" @onclick="LogOutNow">Cerrar Sesión</button>

@code {

    protected void LogOutNow()
    {
        NavigationManager.NavigateTo("/");
    }
}
