@inject NavigationManager NavigationManager
@page "/LogOut"

<h3>LogOut</h3>

<button @onclick="LogOutNow">Cerrar Sesión</button>

@code {

    protected void LogOutNow()
    {
        NavigationManager.NavigateTo("/");
    }
}
