<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">APP</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ShowVehicles" Match="NavLinkMatch.All">
                <span class="oi oi-laptop" aria-hidden="true"></span> Modulo Vehiculos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ShowClient">
                <span class="oi oi-laptop" aria-hidden="true"></span> Modulo Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ShowBookings">
                <span class="oi oi-laptop" aria-hidden="true"></span> Modulo Reservas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ShowInvoice" Match="NavLinkMatch.All">
                <span class="oi oi-laptop" aria-hidden="true"></span> Modulo Facturas
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
